.Layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1260px) {
  .Layout {
    width: 1220px;
  }
}
@media (min-width: 992px) {
  .Layout {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .Layout {
    width: 740px;
  }
}
